@model List<eventos>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>

<div id="dashboard">
    <div class="container">
        <div class="half">
            <div class="title">Eventos Marcados</div>
            <div class="table">
                <table class="tabela list-section">

                    @Html.Partial("/Views/dashboard/eventosList.cshtml", Model)


                </table>
            </div>

            <a href="/AddEventos" title="Adicionar Eventos" class="add-events-btn">
                <i class="fas fa-star"></i>
                <span>Adicionar Eventos</span>
            </a>

        </div>

        <form action="/savequemsomos" method="post">
            <div class="quem-somos">
                <div class="padding">Quem Somos:</div>
                <div class="summernote">
                    <textarea class="textarea" id="quem-somos-txt" name="quemsomostxt" placeholder="Insira texto aqui">@ViewBag.quemSomosTxt</textarea>
                </div>
                <div class="button-padding">
                    <button class="button" type="submit">Salvar</button>
                </div>
            </div>
        </form>


        <form action="/saveacademia" method="post">
            <div class="Academia">
                <div class="padding">
                    Academia:
                </div>
                <div class="summernote">
                    <textarea class="textarea" id="academia-txt" name="academiatxt" placeholder="Insira texto aqui">@ViewBag.academiatxt</textarea>
                </div>
                <div class="button-padding">
                    <button class="button" type="submit">Salvar</button>
                </div>
            </div>
        </form>

        <form action="/savecursos" method="post">
            <div class="Cursos">
                <div class="padding">
                    Cursos:
                </div>
                <div class="summernote">
                    <textarea class="textarea" id="cursos-txt" name="cursostxt" placeholder="Insira texto aqui">@ViewBag.cursostxt</textarea>
                </div>

                <div class="button-padding">
                    <button class="button" type="submit">Salvar</button>
                </div>
            </div>

        </form>


        <form action="/savecontactos" method="post">
            <div class="Contactos">

                <div class="padding">
                    Contactos:
                </div>
                <div class="summernote">
                    <textarea class="textarea" id="contactos-txt" name="contactostxt" placeholder="Insira texto aqui">@ViewBag.contactostxt</textarea>
                </div>

                <div class="button-padding">
                    <button class="button" type="submit">Salvar</button>
                </div>

            </div>
        </form>

        <div class="redes-sociais">
            Redes Sociais :

            <form action="/saveredessociais">
                Escolha a rede social que quer adicionar:
                <select class="dropbtn" id="redesocial" name="redesocial">
                    <option value="Instagram">Instagram </option>
                    <option value="Facebook">Facebook</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Linkedin">Linkedin</option>
                </select>
                <div class="button-padding">
                    <button class="button" type="submit">Salvar</button>
                </div>


            </form>
        </div>




    </div>



</div>



<script>
    $(document).ready(function () {
        $('.delete-btn').click(function () {
            var id = $(this).data('id');

            $.ajax({
                type: "POST",
                url: "@Url.Action("delete","dashboard")",
                data: { "id": id },
                success: function (response) {
                    $('.list-section').html(response);
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            })
        })
    })

    $('#quem-somos-txt').summernote();
    $('#academia-txt').summernote();
    $('#cursos-txt').summernote();
    $('#contactos-txt').summernote();
</script>