@model List<eventos>

<tr>
    <th>Titulo</th>
    <th>Subtitulo</th>

    <th>Data Inical</th>
    <th>Data Final</th>
    <th>Descrição do evento</th>
</tr>

@foreach (eventos item in Model)
{
<tr>
    <td>
        <div>@item.titulo</div>
    </td>
    <td>
        <div>@item.subtitulo</div>
    </td>
    <td>
        <div>@item.datainicio.ToShortDateString()</div>
    </td>
    <td>
        <div>@item.datafim.ToShortDateString()</div>
    </td>
    <td>
        <div class="description-table">@item.descricao</div>
    </td>

    <td>
        <a class="delete-btn" data-id="@item.id" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash-alt"></i></a>
    </td>
    <td>
        <a title="Editar" href="/@item.id/editEventos" class="edit-btn" data-id="@item.id"><i class="fas fa-edit"></i></a>
    </td>

</tr>
}
