@model List<eventos>

@foreach (eventos item in Model)
{
    <tr>
        <td><div>@item.titulo</div>
        </td>
        <td><div>@item.subtitulo</div>
        </td>
        <td><div>@item.datainicio</div>
        </td>
        <td><div>@item.datafim</div>
        </td>
        <td><div>@item.descricao</div>
        </td>
        <td><div>@item.latlang</div>
        </td>
        <td><a title="Apagar" class="delete-btn" data-id="@item.id"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
}
